{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}">logout</a>
  <br>
<h5>Hello, {{ user.username }}!</h5>
<p>Ready to begin?</p>
  <br>
<button type="button" class="btn btn-primary btn-sm"><a href="{% url 'chat_select' %}">Play ELK</a></button>

{% else %}
  <h5>You are not logged in</h5>
<p>You will receive a handout from the ELK facilitators with your login information.</p>
  <button type="button" class="btn btn-primary btn-lg"> <a style="font-color:white;" href="{% url 'login' %}">Login</a></button>

{% endif %}
{% endblock %}
