{% extends 'base.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}

<p>
  One of the roles you can play in ELK is the teacher role. In this role, you are part of a live chat conversation with someone playing the role of the student. Both of you are given a scenario and you are given a description of what you want to know the student’s thoughts about. The student is given a description of their preconceptions. In standard play, you, as the teacher, can type any message in the chat box, but in this tutorial, you will be choosing a provided option.
</p>


<p>
<input onclick="onclick=window.location.href='/chat/1/singleplayerchat/'" value="Continue" type="button">
</p>
{% endblock %}
