<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
        #checkgroup {
          display: inline-block;
          text-align: center;
        }
        .checkbox label {
          display: block;
        }
    </style>
</head>

<body>
<form lang="en" METHOD="POST">
<table style="width:100%">
<col width="60%">
<col width="40%">
    {% for m in messages %}
        <tr>

            <td>{{ m }}</td>



            <td>
                {% if "T:" in m %}
                    <div id="checkgroup">
                        <div class="checkbox">
                            <label for="priming{{ forloop.counter }}">Priming</label>
                            <input type="checkbox" name="priming" id="priming{{ forloop.counter }}" value="Priming">
                        </div>
                        <div class="checkbox">
                            <label for="eliciting{{ forloop.counter }}">Eliciting</label>
                            <input type="checkbox" name="eliciting" id="eliciting{{ forloop.counter }}" value="Eliciting">
                        </div>
                        <div class="checkbox">
                            <label for="evaluating{{ forloop.counter }}">Evaluating</label>
                            <input type="checkbox" name="evaluating" id="evaluating{{ forloop.counter }}" value="Evaluating">
                        </div>
                        <div class="checkbox">
                            <label for="probing{{ forloop.counter }}">Probing</label>
                            <input type="checkbox" name="probing" id="probing{{ forloop.counter }}" value="Probing">
                        </div>
                        <div class="checkbox">
                            <label for="tellling{{ forloop.counter }}">Telling</label>
                            <input type="checkbox" name="telling" id="telling{{ forloop.counter }}" value="Telling">
                        </div>
                    </div>
                </td>
            <br>
                {% endif %}
            </td>
        </tr>

{% endfor %}
</table>
<P>
    <INPUT TYPE="SUBMIT" VALUE="Submit">
</P>



</form>

<br>
T: What do you know about parts of speech?
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: I know that there are nouns, which are things, and verbs, which are actions, and description words, but I don’t remember what they are called.
<br>
T: Very good. Can you tell me more about nouns? Is “school” a noun? Evaluating, Probing
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: Yeah, a school is a type of thing.
<br>
T: What about “idea” or “Eastern High School”? Are they nouns? Probing
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: Idea is a thing, so yeah. But Eastern High School isn’t a noun because it’s capitalized.
<br>
T: Not quite. Evaluating
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: What did I get wrong?
<br>
T: Nouns can be capitalized. “Eastern High School” is a ‘thing,’ right? Capitalized nouns are called proper nouns. Telling
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: Okay
<br>
T: Do all words have a part of speech? Eliciting
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: I don’t know
<br>
T: Okay. N/A
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
T: Let’s look at the sentence “I quickly ate a delicious cupcake.” What words can you classify as parts of speech? Eliciting
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
S: “I” and “cupcake” are nouns. “Ate” is a verb. And “quickly” and “delicious” are description words. I don’t know about “a.” Am I right?
<br>
T: I’m not going to answer that right now because I would like to know what you remember before class starts. Priming
Priming <input type="checkbox" name="priming" value="Priming">
Eliciting <input type="checkbox" name="eliciting" value="Eliciting">
Evaluating <input type="checkbox" name="evaluating" value="Evaluating">
Probing <input type="checkbox" name="probing" value="Probing">
Telling <input type="checkbox" name="telling" value="Telling"> <br>
*bell rings*


</body>
</html>