{% extends 'base.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}
Remember that each message has any number of codes attached to it.
<ul>
        <li> <em> Priming </em> - meta-messages that set the context for the conversation </li>
        <li> <em> Eliciting </em> - questions that introduce a new topic or broaden the discussion </li>
        <li> <em> Probing </em> - follow-up questions </li>
        <li> <em> Evaluating </em> - messages that tell the student if they were right or wrong </li>
        <li> <em> Telling </em> - messages in which the teacher explains what’s true </li>
</ul>
<style>
        table, tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
        #checkgroup {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-evenly;
            align-items: center;
        }

        .checkbox label {
            display: block;
        }

        .feedbackbox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

</style>

<!--<form lang="en" METHOD="POST">-->
<!--{% csrf_token %}-->
<table style="width:100%" cellpadding="10">
<col width="60%">
<col width="40%">
    {% for m in messages %}
        <tr style='border-bottom:none'>
            <td rowspan="2">{{ m.0 }}</td>
            <td id="checkgroup">
                {% if "T:" in m.0 %}
                        <div class="checkbox">
                            <label for="priming_{{ forloop.counter }}">Priming</label>
                            <input type="checkbox" name="{{ request.path }}_priming_{{ forloop.counter }}" id="priming_{{ forloop.counter }}" value="Priming">
                        </div>
                        <div class="checkbox">
                            <label for="eliciting_{{ forloop.counter }}">Eliciting</label>
                            <input type="checkbox" name="{{ request.path }}_eliciting_{{ forloop.counter }}" id="eliciting_{{ forloop.counter }}" value="Eliciting">
                        </div>
                        <div class="checkbox">
                            <label for="probing_{{ forloop.counter }}">Probing</label>
                            <input type="checkbox" name="{{ request.path }}_probing_{{ forloop.counter }}" id="probing_{{ forloop.counter }}" value="Probing">
                        </div>
                        <div class="checkbox">
                            <label for="evaluating_{{ forloop.counter }}">Evaluating</label>
                            <input type="checkbox" name="{{ request.path }}_evaluating_{{ forloop.counter }}" id="evaluating_{{ forloop.counter }}" value="Evaluating">
                        </div>
                        <div class="checkbox">
                            <label for="telling_{{ forloop.counter }}">Telling</label>
                            <input type="checkbox" name="{{ request.path }}_telling_{{ forloop.counter }}" id="telling_{{ forloop.counter }}" value="Telling">
                        </div>
                        <div class="checkbox">
                            <label for="none_{{ forloop.counter }}">None</label>
                            <input type="checkbox" name="{{ request.path }}_none_{{ forloop.counter }}" id="none_{{ forloop.counter }}" value="None">
                        </div>
                        <div class="checkbox">
                            <input onclick="document.reportResult({{ forloop.counter }},'{{ m.1 }}','{{ m.2 }}')" value="Submit" type="button" id="submit_{{ forloop.counter }}" disabled>
                        </div>
                </td>
                {% else %}
                    <p></p>
                {% endif %}
            </td>
        </tr>
        <tr style='border-top:none'>
            <td class="feedbackbox" id="feedbackbox_{{ forloop.counter }}">

            </td>
        </tr>

{% endfor %}
</table>

<p>
    <input onclick="onclick=window.location.href='{{ nextpage }}'" value="Continue" type="button">
</p>

</form>

<script>
    window.onload=function(){

        var nones = document.querySelectorAll('input[value="None"]');
        nones.forEach(function (n) {
            var num = n.id.split("_")[1]
            n.onclick = function() {
                if (n.checked) {
                    document.querySelector('#priming_' + String(num)).checked = false;
                    document.querySelector('#eliciting_' + String(num)).checked = false;
                    document.querySelector('#probing_' + String(num)).checked = false;
                    document.querySelector('#evaluating_' + String(num)).checked = false;
                    document.querySelector('#telling_' + String(num)).checked = false;
                    document.querySelector('#submit_' + String(num)).disabled = false;
                }
            }
        });
        var buttonInitialize = function(val) {
            var group = document.querySelectorAll('input[value=' + val + ']');
            group.forEach(function (n) {
                var num = n.id.split("_")[1]
                n.onclick = function() {
                    if (n.checked) {
                        document.querySelector('#none_' + String(num)).checked = false;
                        document.querySelector('#submit_' + String(num)).disabled = false;
                    }
                }
            });
        }
        buttonInitialize("Priming");
        buttonInitialize("Eliciting");
        buttonInitialize("Probing");
        buttonInitialize("Evaluating");
        buttonInitialize("Telling");

        document.reportResult = function (num, answer, feedback) {
            // check against results
            console.log(num)
            console.log(answer)
            var primingbox = document.querySelector('#priming_' + String(num))
            var eclicitingbox =  document.querySelector('#eliciting_' + String(num))
            var probingbox = document.querySelector('#probing_' + String(num))
            var evaluatingbox = document.querySelector('#evaluating_' + String(num))
            var tellingbox = document.querySelector('#telling_' + String(num))
            var nonebox = document.querySelector('#none_' + String(num))

            var priming = primingbox.checked == answer.includes("priming");
            var eliciting = eclicitingbox.checked == answer.includes("eliciting");
            var probing = probingbox.checked == answer.includes("probing");
            var evaluating = evaluatingbox.checked == answer.includes("evaluating");
            var telling = tellingbox.checked == answer.includes("telling");
            var none = nonebox.checked == answer.includes("none");

            var feedbackbox = document.querySelector('#feedbackbox_' + String(num))
            {% if give_feedback %}
            if (priming && eliciting && probing && evaluating && telling && none) {
                feedbackbox.textContent = "We agree! We thought " + feedback;
            } else {
                feedbackbox.textContent = "We thought " + feedback;
            }
            {% else %}
                feedbackbox.textContent = ""
            {% endif %}
            // xhr
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            var sendData = function(id, code) {
                var xhr = new XMLHttpRequest()
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                      console.log(xhr.response);
                    }
                  }
                xhr.open('POST','/api/messagecode/')
                xhr.setRequestHeader('content-type','application/json')
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                var data = { 'url' : window.location.pathname,
                 'other_id' : num,
                 'code' : code
                 }
                var datastring = JSON.stringify(data)
                console.log(datastring)
                xhr.send(datastring)

            }

            if (primingbox.checked) { sendData(num, "priming") }
            if (eclicitingbox.checked) { sendData(num, "eliciting") }
            if (probingbox.checked) { sendData(num, "probing") }
            if (evaluatingbox.checked) { sendData(num, "evaluating") }
            if (tellingbox.checked) { sendData(num, "telling") }
            if (nonebox.checked) { sendData(num, "none") }


            // disable buttons & checkboxes
            document.querySelector('#submit_' + String(num)).disabled = true
            primingbox.disabled = true
            eclicitingbox.disabled = true
            probingbox.disabled = true
            evaluatingbox.disabled = true
            tellingbox.disabled = true
            nonebox.disabled = true


        }


    }
</script>


{% endblock %}
