{% extends 'base.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}
Remember that each message has any number of codes attached to it.
<ul>
        <li> <em> Priming </em> - meta-messages that set the context for the conversation </li>
        <li> <em> Eliciting </em> - questions that introduce a new topic or broaden the discussion </li>
        <li> <em> Probing </em> - follow-up questions </li>
        <li> <em> Evaluating </em> - messages that tell the student if they were right or wrong </li>
        <li> <em> Telling </em> - messages in which the teacher explains what’s true </li>
</ul>
<style>
        table, tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
        #checkgroup {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-evenly;
            align-items: center;
        }

        .checkbox label {
            display: block;
        }
</style>

<!--<form lang="en" METHOD="POST">-->
<!--{% csrf_token %}-->
<table style="width:100%" cellpadding="10">
<col width="60%">
<col width="40%">
    {% for m in messages %}
        <tr>
            <td>{{ m.0 }}</td>
            <td id="checkgroup">
                {% if "T:" in m.0 %}
                        <div class="checkbox">
                            <label for="priming_{{ forloop.counter }}">Priming</label>
                            <input type="checkbox" name="{{ request.path }}_priming_{{ forloop.counter }}" id="priming_{{ forloop.counter }}" value="Priming">
                        </div>
                        <div class="checkbox">
                            <label for="eliciting_{{ forloop.counter }}">Eliciting</label>
                            <input type="checkbox" name="{{ request.path }}_eliciting_{{ forloop.counter }}" id="eliciting_{{ forloop.counter }}" value="Eliciting">
                        </div>
                        <div class="checkbox">
                            <label for="probing_{{ forloop.counter }}">Probing</label>
                            <input type="checkbox" name="{{ request.path }}_probing_{{ forloop.counter }}" id="probing_{{ forloop.counter }}" value="Probing">
                        </div>
                        <div class="checkbox">
                            <label for="evaluating_{{ forloop.counter }}">Evaluating</label>
                            <input type="checkbox" name="{{ request.path }}_evaluating_{{ forloop.counter }}" id="evaluating_{{ forloop.counter }}" value="Evaluating">
                        </div>
                        <div class="checkbox">
                            <label for="telling_{{ forloop.counter }}">Telling</label>
                            <input type="checkbox" name="{{ request.path }}_telling_{{ forloop.counter }}" id="telling_{{ forloop.counter }}" value="Telling">
                        </div>
                        <div class="checkbox">
                            <label for="none_{{ forloop.counter }}">None</label>
                            <input type="checkbox" name="{{ request.path }}_none_{{ forloop.counter }}" id="none_{{ forloop.counter }}" value="None">
                        </div>
                        <div class="checkbox">
                            <input onclick="reportResult({{ forloop.counter }}, {{ m.1 }})" value="Submit" type="button">
                        </div>
                </td>
                {% else %}
                    <p></p>
                {% endif %}
            </td>
        </tr>

{% endfor %}
</table>

<p>
    <input onclick="onclick=window.location.href='{{ nextpage }}'" value="Continue" type="button">
</p>

</form>

<script>
    window.onload=function(){

        var nones = document.querySelectorAll('input[value="None"]');
        nones.forEach(function (n) {
            var num = n.id.split("_")[1]
            n.onclick = function() {
                if (n.checked) {
                    document.querySelector('#priming_' + String(num)).checked = false;
                    document.querySelector('#eliciting_' + String(num)).checked = false;
                    document.querySelector('#probing_' + String(num)).checked = false;
                    document.querySelector('#evaluating_' + String(num)).checked = false;
                    document.querySelector('#telling_' + String(num)).checked = false;
                }
            }
        });
        var buttonInitialize = function(val) {
            var group = document.querySelectorAll('input[value=' + val + ']');
            group.forEach(function (n) {
                var num = n.id.split("_")[1]
                n.onclick = function() {
                    if (n.checked) {
                        document.querySelector('#none_' + String(num)).checked = false;
                    }
                }
            });
        }
        buttonInitialize("Priming");
        buttonInitialize("Eliciting");
        buttonInitialize("Probing");
        buttonInitialize("Evaluating");
        buttonInitialize("Telling");

        var reportResult = function (num, answer) {
            <!--// check against results-->
            <!--var priming = document.querySelector('#priming_' + String(num)).checked == answer.includes("priming");-->
            <!--var eliciting = document.querySelector('#eliciting_' + String(num)).checked == answer.includes("eliciting");-->
            <!--var probing = document.querySelector('#probing_' + String(num)).checked == answer.includes("probing");-->
            <!--var evaluating = document.querySelector('#evaluating_' + String(num)).checked == answer.includes("evaluating");-->
            <!--var telling = document.querySelector('#telling_' + String(num)).checked == answer.includes("telling");-->
            <!--var none = document.querySelector('#none_' + String(num)).checked == answer.includes("none");-->
            <!--if (priming && eliciting && probing && evaluating && telling && none) {-->
                <!--alert('correct')-->
            <!--} else {-->
                <!--alert('wrong')-->
            <!--}-->
            // xhr
            alert('hi')
            // disable buttons & checkboxes
        }


    }
</script>


{% endblock %}
