{% extends 'base.html' %}

{% block title %}Select a Scenario{% endblock %}

{% block content %}

    
<!-- Styling the choices -->      
    
  <div class="container">
    
    
  <div class="row">
    <div class="col-sm-6">
    <h1 class="mt-5">Eliciting Learner Knowledge</h1>
          <p class="lead">Teaching Systems Lab</p>
    </div>
      
        
    <div class="col-sm-6">
        </br>
      </br>
      <h2>Choose a room</h2>
      <p>Select a room and click the join button.</p>
      </br>
         
    
      <div>                   
        <strong>Select a room:</strong>
             <br>
    <select id="chatselect" size="10" style="width: 100px;">
    {% for x in chatrooms %}
        <option value="{{ x.scenario.id }}">{{ x.name }}</option>
        {% endfor %}

  </select>
    </div>
    
    <br>
    <div>
        <input id="submit" class="btn btn-primary btn-lg" type="button" value="Join"/>
    </div>
    


  </div>
    
</div>
      
      
</body>  
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script>
    window.onload = function() {


var interval = setInterval(function(){

var xhr = new XMLHttpRequest();
xhr.open("GET", "/api/chatroom/");
xhr.onreadystatechange = function () {
    if(xhr.readyState === 4 && xhr.status === 200) {
        var chatlist = document.querySelector('#chatselect');
        var selection;
        if (typeof(chatlist.selectedIndex) != "undefined" && chatlist.selectedIndex >= 0) {
            console.log(typeof(chatlist.selectedIndex))
            console.log(chatlist.selectedIndex)
            selection = chatlist.options[chatlist.selectedIndex].text;
        }
        chatlist.options.length = 0; // clear the old list
        var rooms = JSON.parse(xhr.response);
        for (i in rooms) {
            var option = document.createElement("option");
            option.text = rooms[i].name;
            option.value = rooms[i].scenario;
            console.log(option.text)
            console.log(option.value)
            chatlist.add(option);
        }
        if (selection) {
            chatlist = document.querySelector('#chatselect');
            for (x in chatlist.options){
                if (x.text == selection) {
                    console.log(x)
                    chatselect.selectedIndex = x;
                }
            }
        }

    }
};
xhr.send()

}, 3000);
        document.querySelector('#submit').onclick = function(e) {
            var chatselect = document.querySelector('#chatselect')
            var room = chatselect.options[chatselect.selectedIndex].text;
            var scene = chatselect.options[chatselect.selectedIndex].value;
            window.location.pathname += String(scene) + '/' + String(room) + '/';
        };


    }

</script>

{% endblock %}
