{% extends 'base.html' %}

{% block title %}Select a Scenario{% endblock %}

{% block content %}

    
<!-- Styling the choices -->      
    
  <div class="container">
    
    
  <div class="row">
    <div class="col-sm-6">
    <h1 class="mt-5">Eliciting Learner Knowledge</h1>
          <p class="lead">Teaching Systems Lab</p>
    </div>
      
        
    <div class="col-sm-6">
        </br>
      </br>
      <h2>Get Started:</h2>
      <p>You will receive instructions on which scenario to use, your role, and your chatroom ID from the ELK facilitators.</p>
      </br>
         
    
      <div>                   
        <strong>Select a room:</strong>
             <br>
    <select name="chatselect" id="userID" size="10" style="width: 100px;">>
    {% for x in chatrooms %}
        <option>{{ x }}</option>
        {% endfor %}

  </select>
    </div>
    
    <br>
    </br>
    


  </div>
    
</div>
      
      
</body>  
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script>
    window.onload = function() {
        var chatlist = document.querySelector('#chatselect');

        var interval = SetInterval(function(){

            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/api/chatroom/");
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    var rooms = JSON.parse(xhr.response);
                    for (room in rooms[0]) {
                        console.log(room)
                        var option = document.createElement("option");
                        option.text = str(room);
                        chatlist.add(option);
                    }
                }
            };
            xhr.send()


        }, 3000)


    }

</script>

{% endblock %}
