{% extends 'base.html' %}

{% block title %}Select a Level{% endblock %}

{% block content %}

<input type="button" value="Start" onclick="window.location.href=document.getElementById('menu').value">

<select>
    <option value="/chat/onboard1/">ELKing as a teacher</option>
    <option value="coding1">Coding a transcript 1</option>
    <option value="coding2">Coding a transcript 2</option>
    <option value="coding3">Coding a transcript 3</option>
    <option value="coding4">Coding a transcript 4</option>
</select>

<script>

</script>


{% endblock %}
