{% extends 'base.html' %}

{% block title %}Select a Level{% endblock %}

{% block content %}

<main>
<div class="container cover-container align-middle">
<h1 class="mt-5">Let's learn about ELK!</h1>

<p> Welcome to ELK! The goal of ELK is to assist with practicing eliciting and interpreting student thinking. It simulates a conversation between a student and a teacher in which the teacher attempts to figure out what preconceptions the student has about a certain topic. Press START to begin the tutorial and learn more!</p>
<p>
<input type="button" value="Start" onclick="window.location.href=document.getElementById('menu').value" class="btn btn-primary btn-lg">
</p>
<p>
<select id="menu" class="btn btn-secondary btn-sm">
    <option value="/chat/chatinst/">Learning to ELK as a teacher</option>
    <option value="/chat/1/singleplayerchat/">ELKing as a teacher</option>
    <option value="/chat/onboard/">Instructions for Coding</option>
    <option value="/chat/onboard1/">Coding a transcript 1</option>
    <option value="/chat/onboard2/">Coding a transcript 2</option>
    <option value="/chat/onboard3/">Coding a transcript 3</option>
    <option value="/chat/onboard4/">Coding a transcript 4</option>
</select>
</p>
</div>

</main>
<script>

</script>


{% endblock %}
