<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </header>
    <div>
        <!--All these <br> tags are a bad idea and should be updated with something better. maybe <p>? idk. -->
        <br><br>
        {{ scenario_name }}
        <br><br>

        {% if student_background %}
            {{ student_background }}
            <br><br>
            {{ student_profile }}
            <br><br>
            {{ student_hints }}
            <br><br>
        {% endif %}

        {% if teacher_background %}
            {{ teacher_background }}
            <br><br>
            {{ teacher_objective }}
            <br><br>
            {{ teacher_hints }}
            <br><br>
        {% endif %}
    </div>
    Chat here:
    <textarea id="chat-log" cols="100" rows="20" disabled="disabled" ></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<style type="text/css">
    <!--this is to make the text area look like it isn't disabled (greyed out)'-->
    #chat-log{
        border:solid 1px #000000;
        background-color:#ffffff;
        color:#000000;
    }
    </style>
<script>
    var roomName = {{ room_name_json }};
    if (window.location.protocol == "https:") {
      var ws_scheme = "wss://";
    } else {
      var ws_scheme = "ws://"
    };
    var chatSocket = new WebSocket(
        ws_scheme + window.location.host + '/ws/chat/' + roomName + '/');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</html>