<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    
<!-- Bootstrap core CSS, hosted: Latest compiled and minified CSS 
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
            <style>
                .btn {background-color: teal; border-color: teal;text-decoration: none;}
                .btn:hover {background-color: slategray; border-color: teal;text-decoration: none;}
              body {
                padding-top: 54px;
              }
              @media (min-width: 992px) {
                body {
                  padding-top: 56px;
                }
              }
            </style>
</head>
    
<body>

        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ELK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    
  <div class="row">
    
      <div class="col-sm-6">
          
              <div>
        <!--All these <br> tags are a bad idea and should be updated with something better. maybe <p>? idk. -->
        <br><br>
        <h1>{{ scenario_name }}</h1>
        <br><br>

        {% if student_background %}
            {{ student_background }}
            <br><br>
            <h5>Your Student Profile:</h5>
                  {{ student_profile }}
            <br><br>
            <h5>Helpful Hints:</h5>
                  {{ student_hints }}
            <br><br>
        {% endif %}

        {% if teacher_background %}
            <h5>Your Background:</h5>
                  {{ teacher_background }}
            <br><br>
            <h5>Your Objective:</h5>
                  {{ teacher_objective }}
            <br><br>
            <h5>Helpful Hints:</h5>
                  {{ teacher_hints }}
            <br><br>
        {% endif %}
    </div>
          
    </div>
      
          
    <div class="col-sm-6">
        </br></br>
    <p class="lead">Use the scenario to the left to guide your conversation:</p>
    <textarea id="chat-log" cols="50" rows="10" disabled="disabled" ></textarea><br/>
    <input id="chat-message-input" placeholder="Chat here" type="text" size="40"/><br/>
    </p><input id="chat-message-submit" class="btn btn-primary btn-lg" type="button" value="Send Message"/></p></br>
        <p>When the 7 minute round is finished, take the quiz.<br/> <button type="button" class="btn btn-primary btn-sm" onclick='window.location="quiz/"'>Take Quiz</button></p>
    </div>
    
  </div>

    
</div>

    </body>
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    
<!--this is to make the text area look like it isnt disabled (greyed out)'-->
<style type="text/css">
    #chat-log{
        border:solid 1px #000000;
        background-color:#ffffff;
        color:#000000;
    }
    </style>
<script>
    var roomName = {{ room_name_json }};
    var role = "{{ role }}";
    var scenario = "{{ scenario }}";
    if (window.location.protocol == "https:") {
      var ws_scheme = "wss://";
    } else {
      var ws_scheme = "ws://"
    };
    var chatSocket = new WebSocket(
        ws_scheme + window.location.host + '/ws/chat/' + role + '/' + scenario + '/' + roomName + '/');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var textarea = document.querySelector('#chat-log');
        textarea.value += (message + '\n');
        textarea.scrollTop = textarea.scrollHeight;
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</html>