{% extends 'base.html' %}

{% block title %}Select a Scenario{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <dl>
        <dt><b>Scenario Name:</b> </dt>
        <dd>{{ form.scenario_name }}</dd>
        some instructions here for example from github
        <dt><b>Student Background:</b></dt>
        <dd>{{ form.student_background }}</dd>
        <dt><b>Student Profile:</b></dt>
        <dd>{{ form.student_profile }}</dd>
        <dt><b>Teacher Background:</b></dt>
        <dd>{{ form.teacher_background }}</dd>
        <dt><b>Teacher Objective:</b><dt>
        <dd>{{ form.teacher_objective }}</dd>
        <dt><b>Visible to Players:</b></dt>
        <dd> {{ form.visible_to_players }}</dd>

        <dt>Previous version: {{ scenario.parent }}</dt>


    </dl>


    <input type="submit" value="Submit">
</form>



{% endblock %}
