{% extends 'base.html' %}

{% block title %}Select a Scenario{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <ul>
        <li>Scenario Name: {{ form.scenario_name }}</li>
        some instructions here for example from github
        <li>Student Background: {{ form.student_background }}</li>
        <li>Student Profile:{{ form.student_profile }}</li>
        <li>Teacher Background: {{ form.teacher_background }}</li>
        <li>Teacher Objective: {{ form.teacher_objective }}</li>
        <li>Visible to Players: {{ form.visible_to_players }}</li>

        <li>Previous version: {{ scenario.parent }}</li>


    </ul>


    <input type="submit" value="Submit">
</form>



{% endblock %}
