{% extends 'base.html' %}

{% block title %}Select a Role{% endblock %}

{% block content %}


<!-- Styling the choices -->      
    
  <div class="container">
    
    
  <div class="row">
    <div class="col-sm-6">
    <h1 class="mt-5">Eliciting Learner Knowledge</h1>
          <p class="lead">Teaching Systems Lab</p>
    </div>
      
        
    <div class="col-sm-6">
        </br>
      </br>
      <h2>Get Started:</h2>
      <p>You will receive instructions on your role from the facilitators.</p>
      </br>
         

    <div>
        <strong>2. Select a role:</strong>
        <br>
        <input type="radio" name="role" value="t" checked="checked">Teacher<br>
        <input type="radio" name="role" value="s">Student<br>
        <!--<input type="radio" name="role" value="o">Observer<br>-->
    </div>

    </br>

  </div>
    
</div>
      
      
</body>  
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };
    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        var role = document.querySelector('input[name = "role"]:checked').value;
        var scene = document.querySelector('input[name = "scenario"]:checked').value;
        window.location.pathname = '/chat/' + role + '/' + String(scene) + '/' + roomName + '/';
    };
    var initialSelection = document.querySelector("input")
    initialSelection.checked = "checked"
</script>

{% endblock %}
