{% extends 'base.html' %}

{% block title %}Select a Role{% endblock %}

{% block content %}


<!-- Styling the choices -->      
    
  <div class="container">
    
    
  <div class="row">
    <div class="col-sm-6">
    <h1 class="mt-5">Eliciting Learner Knowledge</h1>
          <p class="lead">Teaching Systems Lab</p>
    </div>
      
        
    <div class="col-sm-6">
        </br>
      </br>
      <h2>Get Started:</h2>
      <p>You will receive instructions on your role from the facilitators.</p>
      </br>
         

    <div>
        <strong>Select a role:</strong>
        <br>
        <input type="radio" name="role" value="t" checked="checked">Teacher<br>
        <input type="radio" name="role" value="s">Student<br>
        <!--<input type="radio" name="role" value="o">Observer<br>-->
    </div>
        <br>
        <input id="submit" class="btn btn-primary btn-lg" type="button" value="Continue"/>

    </br>

  </div>
    
</div>
      
      
</body>  
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script>
    document.querySelector('#submit').onclick = function(e) {
        var role = document.querySelector('input[name = "role"]:checked').value;
        window.location.pathname = '/chat/' + role;
    };

</script>

{% endblock %}
