{% extends 'base.html' %}

{% block title %}Select a Scenario{% endblock %}

{% block content %}

    
<!-- Styling the choices -->      
    
  <div class="container">
    
    
  <div class="row">
    <div class="col-sm-6">
    <h1 class="mt-5">Eliciting Learner Knowledge</h1>
          <p class="lead">Teaching Systems Lab</p>
    </div>
      
        
    <div class="col-sm-6">
        </br>
      </br>
      <h2>Get Started:</h2>
      <p>You will receive instructions on which scenario to use from the ELK facilitators.</p>
      </br>
         
    
      <div>                   
        <strong>Select a scenario:</strong>
             </br>
        {% for x in scenarios %}
          {% if x.visible_to_players %}
            <input type="radio" name="scenario" value="{{ x.pk }}" required>
                {{ x.scenario_name }}
            <br>
          {% endif %}
        {% endfor %}
    </div>
    
    <br>

    
    <div>
        <input id="submit" class="btn btn-primary btn-lg" type="button" value="Continue"/>
    </div>

  </div>
    
</div>
      
      
</body>  
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script>
    document.querySelector('#submit').onclick = function(e) {
        var scene = document.querySelector('input[name = "scenario"]:checked').value;
        window.location.pathname += String(scene) + '/' + '{{ user.username }}' + '/';
    };
</script>

{% endblock %}
