{% extends 'base.html' %}

{% block title %}Select a Scenario{% endblock %}

{% block content %}


      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

                      {% if user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>

        {% endif %}
          </ul>
        </div>
      </div>
    </nav>
 
    
<!-- Styling the choices -->      
    
  <div class="container">
    
    
  <div class="row">
    <div class="col-sm-6">
    <h1 class="mt-5">Eliciting Learner Knowledge</h1>
          <p class="lead">Teaching Systems Lab</p>
    </div>
      
        
    <div class="col-sm-6">
        </br>
      </br>
      <h2>Get Started:</h2>
      <p>You will receive instructions on which scenario to use, your role, and your chatroom ID from the ELK facilitators.</p>
      </br>
         
    
      <div>                   
        <strong>1. Select a scenario:</strong>
             </br>
        {% for x in scenarios %}
          {% if x.visible_to_players %}
            <input type="radio" name="scenario" value="{{ x.pk }}">
                {{ x.scenario_name }}
            <br>
          {% endif %}
        {% endfor %}
    </div>
    
    <br>
    </br>
    
    <div>
        <strong>2. Select a role:</strong>
        <br>
        <input type="radio" name="role" value="t" checked="checked">Teacher<br>
        <input type="radio" name="role" value="s">Student<br>
        <!--<input type="radio" name="role" value="o">Observer<br>-->
    </div>

    </br>
    
    <div>
    <strong>3. What chat room would you like to enter?</strong>
    <p>Each pair of players shares a chatroom ID.</p>
        <p><input id="room-name-input" type="text" size="30" required /></p>
            </br>
        <input id="room-name-submit" class="btn btn-primary btn-lg" type="button" value="Begin Game"/>
        <span class="validity"></span>
    </div>

  </div>
    
</div>
      
      
</body>  
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };
    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        var role = document.querySelector('input[name = "role"]:checked').value;
        var scene = document.querySelector('input[name = "scenario"]:checked').value;
        window.location.pathname = '/chat/' + role + '/' + String(scene) + '/' + roomName + '/';
    };
    var initialSelection = document.querySelector("input")
    initialSelection.checked = "checked"
</script>

{% endblock %}
