{% extends 'base.html' %}

{% block title %}Chat Room{% endblock %}

{% block content %}

    <div class="container">
    
  <div class="row">
    
      <div class="col-sm-6">
          
              <div>
        <!--All these <br> tags are a bad idea and should be updated with something better. maybe <p>? idk. -->
        <br><br>
        <h1>some title here</h1>
        <br><br>
        idk maybe instructions here
    </div>
          
    </div>
      
          
    <div class="col-sm-6">
        </br></br>
    <p class="lead">more instructions here?</p>
    <textarea id="chat-log" cols="50" rows="10" disabled="disabled" ></textarea><br/>
    <div id="buttons">

    </div>


    </div>
    
  </div>

    
</div>

    </body>
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    
<!--this is to make the text area look like it isnt disabled (greyed out)'-->
<style type="text/css">
    #chat-log{
        border:solid 1px #000000;
        background-color:#ffffff;
        color:#000000;
    }
    </style>
<script>
    window.onload = function() {

            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/api/chatnode/5");
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    var node = JSON.parse(xhr.response);
                    console.log(node.children)
                    var buttons = document.querySelector("#buttons")
                    for (child in node.children) {
                        // create button
                        var btn = document.createElement("input");
                        btn.type = "button";
                        btn.value = node.children[child][0];
                        buttons.appendChild(btn);

                        btn.onclick = function() { console.log('test') }


                    }
                }
            }
            xhr.send();
        };

</script>

{% endblock %}
