{% extends 'base.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}

    <div class="container">
    
  <div class="row">
    
      <div class="col-sm-6">
          
              <div>
        <!--All these <br> tags are a bad idea and should be updated with something better. maybe <p>? idk. -->
        <br><br>
        <h1>{{ level.name }}</h1>
        <br><br>
        {{ level.instructions_left }}
    </div>
          
    </div>
      
          
    <div class="col-sm-6">
        </br></br>
    <p class="lead">{{ level.instructions_right }}</p>
    <textarea id="chat-log" cols="50" rows="10" disabled="disabled" ></textarea><br/>
    <div id="buttons">

    </div>


    </div>
    
  </div>

    
</div>

    </body>
    
    
<!-- Bootstrap core JavaScript, local
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    -->

<!-- Latest compiled and minified Bootstrap JavaScript, hosted -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    
<!--this is to make the text area look like it isnt disabled (greyed out)'-->
<style type="text/css">
    #chat-log{
        border:solid 1px #000000;
        background-color:#ffffff;
        color:#000000;
    }
    </style>
<script>
    var getButton = function(res) {
        var resource = "/api/chatnode/" + String(res)
        var xhr = new XMLHttpRequest();
        xhr.open("GET", resource);
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4 && xhr.status === 200) {
                var node = JSON.parse(xhr.response);



                // create button
                var btn = document.createElement("input");
                btn.type = "button";
                btn.value = node.name
                btn.id = "btn_" + String(node.id)
                btn.onclick = function() {
                    document.querySelector("#buttons").innerHTML = '';

                    var textarea = document.querySelector('#chat-log');
                    textarea.value += ('Teacher: ' + node.name + '\n');
                    setTimeout(function(){
                        if (node.name == "End Conversation") {
                            alert('placeholder feedback')
                        } else {
                            
                            textarea.value += ('Student: ' + node.message_text + '\n');
                            textarea.scrollTop = textarea.scrollHeight;
                            for (child in node.children) {
                                getButton(child);
                            }
                            document.querySelector("#buttons").appendChild(btn);

                        }

                    },1000)




                };


            }
        }
        xhr.send();
    };

    window.onload = function() {
            document.querySelector('#chat-log').value = "";
            getButton({{ level.chat_tree.pk }});


        };

</script>

{% endblock %}
