{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<style>
    #about {
        display: flex;
        justify-content: center;
    }
</style>

<div id="about">
    The goal of ELK is to decompose the high leverage teaching practice of eliciting and interpreting student thinking. During the game, players role play a teacher or a student, and have the opportunity to “1. Formulate and post questions  2. Listen to and interpret student responses 3. Develop additional questions prompts, and tasks to probe and unpack what students say”. (TeachingWorks)
    <br>
    Participants who are playing students 1. Learn about students’ ideas about a topic by embodying those ideas and 2. Gain empathy for being a student in a student/ teacher situation.
</div>


{% endblock %}
