{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
<h5>Hello, {{ user.username }}!</h5>
<p>Ready to begin?</p>
  <br>
Let's start with a pre-survey.
<br><br><strong>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSewRWzdIEeIBj9jkknq5U4_4mCht3TNQ5ha5HO5wV1oqMBctg/viewform?entry.1124560802={{ user.username }}" target="_blank">
  Click here to take the survey.
</a></strong>
<br>
When you have finished, close the survey and begin below.
<br><br>

{% else %}
  <h5>You are not logged in</h5>
<p>You will receive your login information from the ELK facilitators.</p>
  <button type="button" class="btn btn-primary btn-lg"> <a style="font-color:white;" href="{% url 'login' %}">Login</a></button>

{% endif %}
{% endblock %}
