{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">

    <div class="row">


        <div class="col-sm-6">
            <h1 class="mt-5">Eliciting Learner Knowledge</h1>
            <p class="lead">Teaching Systems Lab</p>
        </div>


        <div class="col-sm-6">
            </br></br>

            {% if user.is_authenticated %}
            <br>
            <h5>Hello, {{ user.username }}!</h5>
            <p>Ready to begin?</p>
            <br>
            Let's start with a pre-survey.
            <br>
            <input id="chat_select" type="button" class="btn btn-primary btn-lg" value="Take pre-survey" onclick=location.href="{% url 'presurvey' %}";>
            {% else %}
            <h5>You are not logged in</h5>
            <p>You will receive your login information from the ELK facilitators.</p>
            <input id="login" type="button" class="btn btn-primary btn-lg" value="Login" onclick=location.href="{% url 'login' %}";> 

            {% endif %}

        </div>
    </div>
</div>

<script>
    if (navigator.userAgent.indexOf("Chrome") == -1) {
        alert('ELK currently supports only Chrome.\nPlease change to a supported browser.')
    }
    // document.querySelector("login").onclick = function(){window.location="{% url 'login' %}"};
    // document.querySelector("chat_select").onclick = function(){window.location="{% url 'chat_select' %}"};
</script>
{% endblock %}
