{% extends 'base.html' %}

{% block title %}Account Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="white-space: pre-line">
        <br>
        <h5>Hello, {{ user.username }}!</h5>
        <p>Your quiz results:</p>
        Still editing this. Have to refresh once everyone has taken the quiz...<br>
        {% for r in quiz_results %}
            {{ r }}: {{ quiz_results.r }}
        <br>
        {% endfor %}


        <br>
        <p>Your transcripts:</p>
        {% for t in transcripts %}
            <strong>{{ t.room_name }} at {{ t.creation_time }}</strong>
            <br>
            {{ t.transcript }}
            <br>

        {% endfor %}
    </div>
    {% else %}
        <h5>You are not logged in</h5>
        <button type="button" class="btn btn-primary btn-lg"> <a style="font-color:white;" href="{% url 'login' %}">Login</a></button>
    {% endif %}
{% endblock %}
