{% extends 'base.html' %}

{% block title %}Account Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="white-space: pre-line">
        <br>
        <h5>Hello, {{ user.username }}!</h5>

<strong>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeMtlVq-_gx-7-Jv3VDo_FSeXHcPcVxUToDzbqR1a0waUyINg/viewform?entry.1379461190={{ user.username }}" target="_blank">
  Just finish a quiz? Please complete a post-survey. Thank you!
</a></strong>


        <p>Your quiz results:</p>
        <!--<div id="dataBlock">-->
            <!--{{ quiz_results }}-->

        <!--</div>-->
        <table id="resultsTable">

        </table>


        <br>
        <p>Your transcripts:</p>
        {% for t in transcripts %}
            <strong>{{ t.room_name }} at {{ t.creation_time }}</strong>
            <br>
            {% for m in t.messages %}
                {{ m.user }}: {{ m.text }}
            {% endfor %}

        {% endfor %}
    </div>
    {% else %}
        <h5>You are not logged in</h5>
        <button type="button" class="btn btn-primary btn-lg"> <a style="font-color:white;" href="{% url 'login' %}">Login</a></button>
    {% endif %}
<script>
    // window.onload=function() {
        var results = {{ quiz_results|safe }};
        if (Object.keys(results).length < 2){
            console.log('awaiting results, reloading in 30s')
            setTimeout(function(){ location.reload(true) }, 30000);
        } else {
            var resultsTable = document.getElementById("resultsTable")
            var players = Object.keys(results)
            qpks = Object.keys(results.question_details);
            //Header row
            var tr = document.createElement("tr");

            var th = document.createElement("th");
            var txt = document.createTextNode("Player");
            th.appendChild(txt);
            tr.appendChild(th)
            for (q in qpks){
                var th = document.createElement("th");
                var txt = document.createTextNode(q.text);
                th.appendChild(txt);
                tr.appendChild(th)
            }



            resultsTable.appendChild(tr);

            for (p=0;p++;p<=players.length) {
                player = results[players[p]]
                if (player!="question_details"){
                    var tr = document.createElement("tr");
                    var txt = document.createTextNode(players);
                    tr.appendChild(txt);
                    for (q in qpks){

                    }
                }
            }
            resultsTable.appendChild(th);


            // var tr = document.createElement("tr");
            // var td = document.createElement("td");
            // var txt = document.createTextNode("some value");
            // td.appendChild(txt);
            // tr.appendChild(td);
            // table.appendChild(tr);
        }
        // var dataBlock = document.querySelector("dataBlock")
        // for (key in results) {
        //     dataBlock.append(key: results.key)
    // }
</script>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
{% endblock %}
