{% extends 'base.html' %}

{% block title %}Account Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="white-space: pre-line">
        <br>
        <h5>Hello, {{ user.username }}!</h5>

<br><br><strong>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeMtlVq-_gx-7-Jv3VDo_FSeXHcPcVxUToDzbqR1a0waUyINg/viewform?entry.1379461190={{ user.username }}" target="_blank">
  Just finish a quiz? Please complete a post-survey. Thank you!
</a></strong>


        <p>Your quiz results:</p>
        Still styling this. Have to refresh once everyone has taken the quiz...<br>
        {{ quiz_results }}


        <br>
        <p>Your transcripts:</p>
        {% for t in transcripts %}
            <strong>{{ t.room_name }} at {{ t.creation_time }}</strong>
            <br>
            {{ t.transcript }}
            <br>

        {% endfor %}
    </div>
    {% else %}
        <h5>You are not logged in</h5>
        <button type="button" class="btn btn-primary btn-lg"> <a style="font-color:white;" href="{% url 'login' %}">Login</a></button>
    {% endif %}
<script>
    setTimeout(function(){ location.reload(true) }, 5000)
</script>
{% endblock %}
